NOTION_API_TOKEN=ntn_xxxxx
NOTION_COLLISIONS_DB_ID=xxxxx
NOTION_DISRUPTIONS_DB_ID=xxxxx
NOTION_ROADWORKS_DB_ID=xxxxx
NOTION_TRAFFIC_ORDERS_DB_ID=xxxxx
TARGET_BOROUGHS=Lambeth,Southwark,Wandsworth,Lewisham,Merton,Croydon,City of London,Westminster
NEXT_PUBLIC_MAPBOX_TOKEN=pk.xxxxx
